* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/asset\ 1.jpeg) no-repeat center center / cover;

}

#signin {
    width: 416px;
    text-align: center;
    background-color: #fff;
    padding: 50px 55px 30px 55px;

}

label {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #77120c;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 37px;
    padding-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-size: 15px;
    
}

::placeholder {
    color: #77120c;
}

.button {
    font-size: 15px;
    color: #fff;
    width: 50%;
    margin-top: 28px;
    padding: 15px;
    background: #77120c;
    border: 0;
    border-radius: 0;
    transition: all 0.5s;
}

.button:hover {
    cursor: pointer;
    background-color: #610803;
}

p {
    color: gray;
    font-size: 12px;
    padding: 10px;
}